<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">

</head>

<body>
    <div class="heading_name">
        <h1 class="neonText">To Do</h1>
    </div>
    <div class="main_input">

        <form action="/ToDO_create" method="POST">
            <div class="inputtext">
                <input type="text" name="notes" placeholder="Note TO DO" style="height:50px; width:500px;"
                    required><br><br>
            </div>
            <div class="input_extra">
                <select id="priority" name="priority" class="red" style="width: 130px; "
                    onchange="this.className=this.options[this.selectedIndex].className">
                    <option class="red" value="Red" style="background-color: Red;">Red</option>
                    <option class="orange" value="Orange" style="background-color: orange;">Orange</option>
                    <option class="green" value="Green" style="background-color: green;">Green</option>
                </select>
                <input type="date" id="start" name="date" value=<%=today_date %> min=<%= today_date %>
                    style="width:180px;" required>
            </div>
            <br>
            <div class="submit">
                <input type="submit" value="Update">
            </div>
    </div>

    <div class="note_contents">

        <% todo_obj.forEach(function (todo_inst) { %>
            <div class="contents <%= todo_inst.priority %> neonText">
                <div class="notes-info">
                    <p>
                        <%= todo_inst.notes %>
                    </p>
                </div>
                <div class="date-info">
                    <p>
                        <%= todo_inst.date %>
                    </p>
                </div>
                <div class="cross">
                    <a href="/delete-todo/?id=<%= todo_inst._id %>">
                        &#10003;
                    </a>

                </div>

            </div>
            <% }) %>
    </div>
</body>

</html>